.button {
  --gap: 1rem;
  --radius: 0.2rem;
  --primary-clr: var(--primary-color);

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap);

  background-color: var(--primary-clr);
  color: var(--background-color);

  padding: calc(var(--gap) / 2) 1rem;

  font-size: 1rem;
  font-weight: 600;

  border-radius: var(--radius);
  border: 0px solid var(--primary-clr);

  cursor: pointer;

  > span {
    display: flex;
    align-items: center;
  }

  &.outlined {
    background-color: transparent;
    color: var(--primary-clr);
    border-width: 2px;
  }

  &.no_border {
    border-color: transparent;
  }

  &.oneline {
    span {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      -webkit-box-orient: vertical;
    }
  }

  &.size {
    &_sm {
      --gap: 0.6rem;

      /* width: fit-content; */
    }

    &_xsm {
      --gap: 0.6rem;
      width: fit-content;
    }

    &_xsm2 {
      --gap: 0.6rem;
      width: fit-content;
      padding-inline: 0;
    }

    &_xsm3 {
      --gap: 0.6rem;
      width: fit-content;
      padding: 0 0.2rem;
      font-weight: inherit;
    }
  }

  &.progress {
    &_success,
    &_pending,
    &_warning,
    &_complete,
    &_fail {
      color: color-mix(in oklab, var(--color), var(--foreground-color) 15%);
      font-weight: 400;
    }

    &_complete {
      --color: var(--primary-color);
      --primary-clr: color-mix(in srgb, var(--color) 15%, transparent);
    }

    &_success {
      --c: 0, 200, 0;
      --color: rgb(var(--c));
      --primary-clr: rgba(var(--c), 0.15);
    }

    &_pending,
    &_warning {
      --c: 255, 160, 20;
      --color: rgb(var(--c));
      --primary-clr: rgba(var(--c), 0.15);
    }

    &_fail {
      --c: 255, 10, 10;
      --color: rgb(var(--c));
      --primary-clr: rgba(var(--c), 0.15);
    }
  }

  &:disabled {
    filter: saturate(0.25) opacity(0.75);
    cursor: not-allowed;
  }

  &:hover {
    filter: saturate(1.5) grayscale(0.15);
  }
}
