.loader {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
  margin: 15px 0;
  position: relative;
  color: var(--foreground-color, #fff);
  left: -100px;
  box-sizing: border-box;
  animation: shadowRolling 2s linear infinite;
}

@keyframes shadowRolling {
  0% {
    box-shadow:
      0px 0 transparent,
      0px 0 transparent,
      0px 0 transparent,
      0px 0 transparent;
  }
  12% {
    box-shadow:
      100px 0 var(--foreground-color, #fff),
      0px 0 transparent,
      0px 0 transparent,
      0px 0 transparent;
  }
  25% {
    box-shadow:
      110px 0 var(--foreground-color, #fff),
      100px 0 var(--foreground-color, #fff),
      0px 0 transparent,
      0px 0 transparent;
  }
  36% {
    box-shadow:
      120px 0 var(--foreground-color, #fff),
      110px 0 var(--foreground-color, #fff),
      100px 0 var(--foreground-color, #fff),
      0px 0 transparent;
  }
  50% {
    box-shadow:
      130px 0 var(--foreground-color, #fff),
      120px 0 var(--foreground-color, #fff),
      110px 0 var(--foreground-color, #fff),
      100px 0 var(--foreground-color, #fff);
  }
  62% {
    box-shadow:
      200px 0 transparent,
      130px 0 var(--foreground-color, #fff),
      120px 0 var(--foreground-color, #fff),
      110px 0 var(--foreground-color, #fff);
  }
  75% {
    box-shadow:
      200px 0 transparent,
      200px 0 transparent,
      130px 0 var(--foreground-color, #fff),
      120px 0 var(--foreground-color, #fff);
  }
  87% {
    box-shadow:
      200px 0 transparent,
      200px 0 transparent,
      200px 0 transparent,
      130px 0 var(--foreground-color, #fff);
  }
  100% {
    box-shadow:
      200px 0 transparent,
      200px 0 transparent,
      200px 0 transparent,
      200px 0 transparent;
  }
}
