.roulette {
  display: grid;
  grid-template-areas: "child";
  place-items: center;
  position: relative;
  overflow: clip;

  > * {
    grid-area: child;
  }

  button {
    --size: 6rem;
    aspect-ratio: 1/1;
    min-height: fit-content;
    height: var(--size);
    z-index: 10;
    position: absolute;
    border-radius: var(--size);
    border: none;

    display: grid;
    place-items: center;
    cursor: pointer;
    background: #d20200;
    color: #ecd9a0;
    transition: 0.1s ease-in;
    box-shadow:
      5px 5px 5px rgba(0, 0, 0, 0.4),
      -5px -5px 5px rgba(255, 255, 255, 0.645),
      inset -3px -3px 3px rgba(0, 0, 0, 0.3);

    &:active {
      box-shadow:
        inset 3px 3px 5px rgba(0, 0, 0, 0.3),
        inset -3px -3px 7px rgba(255, 255, 255, 0.634);
    }

    &:disabled,
    &:not(:hover) {
      opacity: 0;
    }
  }
}

.roulette_back {
  background-color: rgb(56, 0, 90);
  background-image: var(--back-image), radial-gradient(var(--primary-color) 30%, rgb(56, 0, 90) 70%);
  background-position:
    50% 50%,
    50% 50%;
  background-size:
    cover,
    115vmin 115vmin;
  background-repeat: no-repeat, no-repeat;
}
